<!DOCTYPE html>
<html>
<head>
  <title>Harpuun</title>
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
  <link rel="stylesheet" type="text/css" href="bootstrap-responsive.css">
  <link rel="stylesheet" type="text/css" href="application.css">
  <script src="application.js"></script>
  <!-- <%= stylesheet_link_tag    "application", :media => "all" %> -->
  <!-- <%= javascript_include_tag "application" %> -->
  <!-- <%= csrf_meta_tags %> -->
</head>

<body>
	<div class="hero-unit">
	  <h1><img src="harpuunlogo.png" alt="harpuun logo"></h1>
	  <p>Project managers need developers and designers.
Developers and designers are looking for work to get their portfolios started.
Find each other on Harpuun and hook up a job.</p>
	  <p>
	    <a class="btn btn-primary btn-large">
	      Learn more
	    </a>
	  </p>
	</div>
	<div class="row">
		<div class="span4 indented">
		  <img class="img-rounded" src="coder.jpg" alt="example image">
		  </p>
		</div>
		<div class="span4 indented">
		  <h2>Sign up</h2>
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		  <p>
		    <a class="btn btn-primary btn-large">
		      Contractors
		    </a>
		    <a class="btn btn-primary btn-large">
		      Starters
		    </a>
		  </p>
		</div>
	</div>
	<div class="hero-unit">
	  <h1>How it works</h1>
	  <div class="row">
	  	<img></img>
	  	<img></img>
	  	<img></img>
	  	<img></img>
	  </div>	
	</div>
</body>
</html>