<div class="indented hero-unit">
	
	<legend>New Client</legend>
	
	<%= image_tag "whale_harp.png", :class => "home-whale", :alt => "harpuun whale" %>
	
	<%= render 'form' %>
	
	<%= link_to 'Back', clients_path %>

</div>
