<% if @actual_project %>
	<h4>Accepted Project</h4>
	<%= render 'project', :project => @actual_project %>

<% elsif @offered_projects.any? %>
	<%= render '_project_table', :title => "Offered Projects", :projects => @offered_projects %>

<% else %>
		<h3>Projects are just about to sail in the sea.</h3>
<% end %>

<% if @completed_projects.any? %>
	<%= render '_project_table', :title => "Completed Projects", :projects => @completed_projects %>
<% end %>
