<div class="indented hero-unit">
	<legend>New Project</legend>
	<%= image_tag "whale_harp.png", :class => "home-whale", :alt => "harpuun whale" %>
	<%= render 'form' %>
	<%= link_to 'Back', client_projects_url(@client) %>
</div>
