<div class="indented hero-unit">
	<% if @client.projects.count == 0 %>
		<legend>Add Your First Project</legend>
	<% else  %>
		<legend>New Project</legend>
	<% end  %>
	<%= image_tag "whale_harp.png", :class => "signup-whale", :alt => "harpuun whale" %>
	<%= render 'form' %>
</div>
