<!DOCTYPE html>
<html>
<head>
  <title>Harpuun - Home</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
	<body>
		<section class="box-home">
			<img class="logo-home" src="/assets/harpuunlogo_home.png" alt="Harpuun logo">
			<p class="lead">Project managers need developers and designers.<br>
			Developers and designers are looking for work to get their portfolios started.<br>
			Find each other on Harpuun and hook up a job.</p>
			<button class="btn">Post projects</button>
			<button class="btn">Find work</button>
		</section>
		<footer>
		</footer>
	</body>
</html>