<div class="hero-unit">
	<div class="row">
		<%= image_tag "whale_harp.png", :class => "home-whale", :alt => "harpuun whale" %>
		<div class="span7">
			<h1 class="tagline_blue">How it works</h1>
			<div class="span4">
				<%= image_tag "icon_sign.png", :class => "icon", :alt => "enter info"%>
				<h2 class="tagline_blue">Sign up</h2>
				<p>Quick and painless. Just fill out your information.</p>
			</div>
			<div class="span4">
				<%= image_tag "icon_post.png", :class => "icon", :alt => "project list"%>
				<h2 class="tagline_blue">Post a project</h2>
				<p>Specify your timeframe, budget and expectations for your project.</p>
			</div>
			<div class="span4">
				<%= image_tag "icon_start.png", :class => "icon", :alt => "start project"%>
				<h2 class="tagline_blue">Get Started!</h2>
				<p>A Starter League alum will be assigned to build your project.</p>
			</div>
		</div>		
	</div>
</div>