<div class="container">
	<div class="row">
		<div class="span12">
			<legend>Our Team</legend>
			<div class="form">	
				<div class="row">
				  <div class="span3">
					<%= image_tag "http://tslcms.herokuapp.com/assets/joseph-villanueva-d07ea786316cb5c0f30a95a783585c8e.jpg", :class => "img-rounded" %>
					<h4><strong>Joe Villanueva</strong></h4>
					<p><small>Irvine, CA</small></p>
					<p><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</small></p>
				  </div>
				  <div class="span3">
					<%= image_tag "http://tslcms.herokuapp.com/assets/aaron-frey-194a539ef9c4f6913f4e1a86b080c3e9.jpg", :class => "img-rounded" %>
					<h4><strong>Aaron Frey</strong></h4>
					<p><small>Chicago, IL</small></p>
					<p><small>Native to Wisconsin, but has called Chicago home for nearly 8 years. Studied Public Policy and Adminstration as an undergrad at the University of Wisconsin - Whitewater. Quickly found a career in trading options after a short time working in the public sector. This lead to trading currencies and futures from the floor of the CME. Involvement in a few internet start-ups required learning how to code. The Starter League has brought everything full circle. Plays guitar and loves football.</small></p>
				  </div>
				  <div class="span3">
					<%= image_tag "http://tslcms.herokuapp.com/assets/tomas-gregor-3bc4aa9e9637827b4945243846db2473.jpg", :class => "img-rounded" %>
					<h4><strong>Tomas Gregor</strong></h4>
					<p><small>Bratislava, Slovakia</small></p>
					<p><small>Comes from and lives in Slovakia. Graduated with Master degree in Banking and Finance. Worked as an Online Communication Manager at Banca Intesa and Country Manager at the Slovak branch of Gemius online research agency. Motivated to fire a start-up shot took Rails For Designers class at the Starter League. Fan of 37signals, Apple and any "makes sense" businesses. Crazy about freeride skiing.</small></p>
				  </div>
				  <div class="span3">
					<%= image_tag "http://tslcms.herokuapp.com/assets/john-lemein-a43a98c4d1998bb552ce13135678dc14.jpg", :class => "img-rounded" %>
					<h4><strong>John Lemein</strong></h4>
					<p><small>Chicago, IL</small></p>
					<p><small>Originally from Chicago's North Shore, now living in the Lakeview East neighborhood. Graduated with a BFA in Graphic Design from Columbia College Chicago. Currently a graphic designer at the Chicago Sun-Times. Lays out print special sections and ToDrive, the Sun-Times' auto section, online editor of todrive.com. An Advanced HTML and CSS student at the Starter League, will be taking User Experience in the winter quarter. Enjoys distance running and skiing.</small></p>
				  </div>
				</div>
			 
			</div>
		</div>	
	</div>
</div>		