/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require_self
 *= require bootstrap
 *= require bootstrap-responsive
 */


.indented {
	padding-left: 3%;
}

.footstick {
    color: white;
    background: #1B315E;
    height: .25em;
    padding: 5px 0 20px 0;
    border-top: 1px solid #8EB5C6;
    text-align: center;
    font-size: 75%;
}

.home-whale {
	float: right;
	max-width: 20%;
	min-width: 10%;
	padding-left: 4%;
}

.signup-whale {
	max-width: 20%;
	min-width: 10%;
	padding-left: 4%;
	position: absolute;
	right: 30px;
}

.navbar-logo{
	padding-bottom: 15px;
	max-width: 100%;
}

.nav-unlinked {
	padding-top: 3.75%;
	font-weight: 100;
}

.tagline_blue {
    color: #1C2C60;
}

textarea {
	width: 500px;
}

.btn-signup {
	margin-left: 120px;
}


.center {
	text-align: center;
}

.actions {
	margin-left: 108px;
}

.form_info_text {
	margin: 0 0 7px 118px;
	font-size: 14px;
	max-width: 470px;
	line-height: 120%;
}

.tsl {
  margin-top: 1%;
  margin-bottom: 1.5%;
}

.icon {
	max-width: 15%;
	padding-top: 10%;
}


/*.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -.25em;
}*/
