<div class="indented hero-unit">
	<legend>New Starter</legend>
	<%= image_tag "whale_flag.png", :class => "signup-whale", :alt => "harpuun whale" %>
	<%= render 'form' %>
	<%= link_to 'Back', starters_path %>
</div>
